@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

.MainPageContainer {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: white;
    box-shadow: 0 0 1em #00000018;
    border-radius: 8px
}

.MainPageHeading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-end;
}

.BooksImage {
    height: 60px;
    margin-left: 5px;
    margin-bottom: -3px;
}

h1 {
    font-size: 60px;
    margin: 0;
    margin-left: 0.2em;
    margin-bottom: -1px;
}

.GymposGreen {
    color: #1e7813;
}

.Shelf,
.HeadingShelf {
   height: min(2vw, 10px);
   border-radius: 3px; 
   background-color: #96613d;
   border: 2px solid #83502e;
}

.HeadingShelf {
   width: 100%;
}

.MainPageBody {
    margin: 0 2%;
}

.BookShelfTop {
    margin-top: min(2vw, 2em);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.PlantPot {
    max-width: 16%;
    margin-bottom: calc(16% * -0.937);
    margin-right: 2%;
    z-index: 100;
}

.MainPageSubjects {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-end;
    margin-top: 2em;
    margin-left: 1em;
}

.SubjectBook {
    --book-width: min(3vw, 30px);
    --book-height: min(10vw, 100px);
    --book-right: min(3vw, 30px);

    height: var(--book-height);
    width: calc(var(--book-width) + var(--book-right));
    border-right: var(--book-right) solid var(--subject-clr1);
    border-radius: 2px;
    margin-right: calc(var(--book-right) * -0.65);

    background-color: var(--subject-clr0);
    color: var(--clr-dark);

    font-family: var(--ff-secondary);
    writing-mode: vertical-rl;
    text-decoration: none;
    text-align: center;
    font-size: calc(var(--book-width) * 0.68);
    z-index:0;
    transition: transform 0.35s ease; /* vendorless fallback */
}

.SubjectBook:hover {
    opacity: 1;
    transform: translateY(calc(var(--book-height) * -0.2));
}

/* This book is on its left side */
.LastBook {
    --border-width: min(0.2vw, 2px);

    width: calc(var(--book-height) + var(--book-right));
    height: var(--book-width);
    border-right: var(--book-right) solid var(--subject-clr0);
    border-top: var(--border-width) solid var(--subject-clr1);
    border-bottom: var(--border-width) solid var(--subject-clr0);
    writing-mode: unset;
}

/* .LastBook:hover {
    transform: translateX(calc(var(--book-height) * 0.2));
} */

.LastBook::after {
    content: "";
    background-color: bisque;
    position: absolute;
    height: calc(var(--book-width) - 2 * var(--border-width));
    width: calc(var(--book-right) + 1px);
    border-radius: 3px 0 0 3px;
    margin-left: var(--book-right);
}


@media(max-width:700px) {
    .BooksImage { height: 42px; }
    h1 { font-size: 42px; }
}

@media(max-width:500px) {
    .MainPageHeading { justify-content: center; }
    .BooksImage { display: none; }
    .Shelf { height: 2vw; }

    h1 {
        font-size: 10vw;
        margin-left: 0;
    }
}

.BoardsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.Board {
    --board-width: min(90vw, 600px);
    width: var(--board-width);
    height: calc(var(--board-width) * 0.5);
    margin: 5%;
    padding: 5%;
    background-color: #0d6627;
    border: 8px solid #704528;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-family: 'Syne Tactile', sans-serif;
    font-size: 2rem;
}

.InfoLink {
    list-style: none;
    text-align: center;
    font-size: 1rem;
    display: block;
}

.InfoLinksHeading {
    text-align: center;
}

.InfoLinksContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.InfoLinksColumn {
    min-width: 20em;
}
